
<ion-content color="dark">
  <ion-card style="color:black;">
    <ion-card-header>
      <h2 style="color:black;font-weight:bold;">A propos</h2>
    </ion-card-header>
    <ion-card-content>

      L’objectif de cette application est d’annoté des données multimédias en langue Africaines dans l’optique de constituer une base de données qui pourrait être utilisé comme source de donnée pour créer des intelligences artificielles (IA) reflétant les réalités Africaines.
      Toutes intelligences artificielles peu import sa nature se crée à partir de grosse quantité de donnée. Cette exigence est une réelle problématique pour toutes IA développées partout dans le monde et en particulier en
      Afrique ou le développement technologique est en plein expansion. D’où la nécessité de cette application.
      Ensemble relevons le défi technologique en Afrique. <br>

    </ion-card-content>
  </ion-card>

  <ion-card  style="color:black;">
    <ion-card-header>
      <h2 style="color:black;font-weight:bold;">Contactez-nous</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="../../../assets/img/logoEsi.png" />
          </ion-avatar>
          <ion-label style="text-align:center;">ESI</ion-label>
          <a fill="clear" slot="end" href ='https://www.esi-upb.bf/'>Contact</a>
        </ion-item>

        <ion-item>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="../../../assets/img/logoUniversite.png" />
          </ion-avatar>
          <ion-label style="text-align:center;">UNB</ion-label>
          <a fill="clear" slot="end" href ='https://www.esi-upb.bf/'>Contact</a>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
