


<ion-content  [fullscreen]="true" color="dark" class="ion-padding">

  <section id="music-container">

    <div style=" display:flex;
                align-items:center; justify-content:center;">
      <video style="position:relative; " #myVideo [src]="currentVideoSrc" controls></video>
    </div>

    <ion-button [disabled]="true" (click)="OpenModal()">Annoter</ion-button>

    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Note attribuée</ion-card-title>
        <ion-card-subtitle>
          <div style="text-align:center">
            <ng-container *ngIf="note.id === 0">
              Note: Pas annoter
            </ng-container>
            <ng-container *ngIf="note.id!== 0">
              <span style="font-size:20px;">
                {{note.emoji}}
              </span>
              <span>
                {{note.name}}
              </span>
            </ng-container>
          </div>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-footer>
      </ion-footer>

    </ion-card>
  </section>


    <ion-modal  [isOpen]="isModalOpen" [backdropDismiss]="false">
      <ng-template>
        <ion-content>

          <ion-list>

            <ion-item *ngFor="let emoji of emojiList; index as i;" (click)="setAnnotation(i)">
              <ion-avatar slot="start">
                <span style="font-size:30px">{{emoji.emoji}}</span>
              </ion-avatar>
              <ion-label>
                <h2>{{emoji.name}}</h2>
              </ion-label>
            </ion-item>
          </ion-list>

        </ion-content>
      </ng-template>
    </ion-modal>
</ion-content>

<ion-footer style="z-index: 1000;" collapse="fade" class="ion-no-border" ng-click="myRegisterFunction()">

  <ion-toolbar color="primary" class="ion-padding">


    <ion-grid>
      <ion-row align-items-center id="media-controls">
        <ion-button (click)="precedentVideo()">
          <ion-icon color="light" name="play-skip-back"> </ion-icon>
        </ion-button>

        <ion-button *ngIf="!isPlaying"  (click)="playVideo()">
          <ion-icon color="light" name="play"></ion-icon>
        </ion-button>

        <ion-button  *ngIf="isPlaying" (click)="pauseVideo()">
          <ion-icon color="light" name="pause"></ion-icon>
        </ion-button>

        <ion-button (click)="suivantVideo()">
          <ion-icon color="light" name="play-skip-forward"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-grid>

</ion-toolbar>

</ion-footer>






