
#container {
  text-align: center;
  margin: 0;
}

#container >form{
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  margin-top: 50px;
}

#img-header{
  position:relative;
  padding: 0;
  margin: 0;
  height: 35%;
}

#im-header>img{
  position: absolute;
  top:-170px;
  left: -30%;
  z-index: 100;
  width: 100%;
}


.title{
  text-align: right;
}
.title ion-button{
  text-decoration: underline;
  text-transform:capitalize;
  color:black;
}

#button-submit{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#create-account{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#button-action p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form{
  margin: 0;
  padding: 0;
}

ion-item{
  width: 98%;
}

ion-content {
  --margin:0 ;
}

.im-header ion-icon{
  font-size: 200px;
}
